@import "lato.css";

html {
  font-size: 10px;
}

body {
   font-family: "Lato", "Arial", sans-serif;
   font-weight: 400;
   
   margin: 0;
   padding: 0;
   background-color: 100%;
}

.wrapper {
    width: 1020px;  
    align-items: center;  
    padding: 0 40px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746; 
         
  }

.logo {
    margin-top: 35px;
    margin-left: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: -0.01rem;
    line-height: 2rem;
}
    

span {
    color: #ef6962;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    list-style: none;
}
.nav-bar ul li {
    
    margin-top: 40px;
    margin-right: 11px;
    letter-spacing: -0.04rem;
    font-size: 23px;
    line-height: 1.5rem;
}

.nav-bar ul li:last-child {
     margin-right: 35px;
}

.nav-bar ul li a {
    font-size: 12px;
    line-height: 6px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    
}

.nav-bar ul li a:hover {
    color: #ef6962;    
}

.nav-bar ul li a:focus {
    color: #6d3c39;
}

.nav-bar li:not(:first-child)::before {
  content: "\2219";
  display: inline-block;
  width: 2rem;
  line-height: 2px;
  color: #494e62;
    
}

.slider {
    
    height: 600px;
    background: #ef6c64;
    padding-left: 35px;
    padding-top: 15px;
    box-sizing: border-box;
    border-bottom: 6px solid #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    
}

.back-next {
    cursor: pointer;
}

.back-next:hover {
    cursor: pointer;
    color: black;
    opacity: 0.5;
}

 .back-to {
   margin-top: -22px;
 }
.next-to {
  margin-top: -22px;
  margin-right: 40px;
} 

.phone-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
  
}

.phone-vertical {
  margin-top: -25px;
  margin-left: 40px;
}

.phone-horizontal {
  margin-top: -25px;
 margin-left: 75px; 
 margin-right: 50px;
} 

.our-services {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.fusce {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.curabitur {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.custom {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.services {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
}
