@import "./assets/fonts/Lato-Thin.ttf";

html {
  font-size: 10px;
}

body {
   font-family: "Lato", "Arial", sans-serif;
   font-weight: 400;   
   margin: 0;
   padding: 0;
   background-color: 100%;
}

.wrapper {
  width: 1020px;  
  align-items: center;  
  padding: 0 40px;
  margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746; 
         
  }

.logo {
    margin-top: 35px;
    margin-left: 40px;
    color: #ffffff;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: -0.01rem;
    line-height: 2rem;
}
    

span {
    color: #ef6962;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
}
  
.nav-bar ul li {
  margin-top: 40px;
  margin-right: 11px;
  letter-spacing: -0.6px;
  font-size: 23px;
  line-height: 13px;
}

.nav-bar ul li:last-child {
     margin-right: 40px;
}

.nav-bar ul li a {
    font-size: 12px;
    line-height: 6px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    
}

.nav-bar ul li a:hover {
    color: #ef6962;    
}

.nav-bar ul li a:focus {
    color: #6d3c39;
}

.nav-bar li:not(:first-child)::before {
  content: "\2219";
  display: inline-block;
  width: 2rem;
  line-height: 2px;
  color: #494e62;
    
}

.slider {
    
    height: 600px;
    background: #ef6c64;
    padding-left: 35px;
    padding-top: 15px;
    box-sizing: border-box;
    border-bottom: 6px solid #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    
}

.back-next {
    cursor: pointer;
}

.back-next:hover {
  cursor: pointer;
  color: black;
  opacity: 0.5;
}

.back-to {
   margin-top: -22px;
 }
.next-to {
  margin-top: -22px;
  margin-right: 40px;
} 

.phone-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
  
}

.phone-vertical {
  margin-top: -23px;
  margin-left: 44px;
}

.phone-horizontal {
  margin-top: -25px;
 margin-right: 50px;
 margin-left: 72px; 
 
} 

.our-services {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 495px;
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    
}

h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 700;
  text-align: left;

}
.services {
  letter-spacing: -0.5px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: justify;
  background-color: #f2f2f2;
}

p.text {
  padding-top: 27px;
}

h3 {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato Light", sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    letter-spacing: -2px;
}
 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
  }

  .item {
    position: relative;
    width: 310px;
    height: 100px;
    overflow: hidden;
  }
  .item:nth-child(-n+3) {
    margin-bottom: 23px;
  }
  .pen,
  .phone {
    position: absolute;
    top: 1px;
    left: 1px;
  }

  .lamp {
    position: absolute;
    top: 1px;
    left: 4px;
  }

  .heart,
  .star {
    position: absolute;
    top: 1px;
    left: 10px;
  }

  .bubble {
    position: absolute;
    top: 1px;
    left: 5px;
  }

  .caption {
    position: absolute;
    top: -2px;
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    color: #666d89;
  }
  .description {
    position: absolute;
    top: 28px;
     width: 220px;
    margin: 0;
    overflow: hidden;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
  }

  .design {
    left: 79px;
  }

  .ideas,
  .about-ideas {
    left: 84px;
  }

  .answer {
    left: 90px;
  }

  .responsive,
  .about-responsive {
    left: 80px;
  }

  .support {
    left: 83px;
    letter-spacing: -0.02rem;
  }

  .feel {
    left: 91px;
  }

  .about-design {
    left: 81px;
  }

  .about-answer,
  .about-feel {
    left: 90px;
  }

  .about-support {
    left: 85px;
}
