    @font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-family: "Lato", Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    
  }

body:hover {
    cursor: default;
}

  h1 {
    font-size: 2.5rem;
    line-height: 0.6rem;
    color: #ffffff;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 500;
    text-align: left;
    letter-spacing: -0.2rem;
}


  h2 {
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    line-height: 1.8rem;
    color: #666d89;
    
  }

  h3 {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #767e9e;
    font-family: "Lato Light", sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    letter-spacing: -0.2rem;
}

  h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 900;

  }
 
.header {
    background-color: #2d303a;
    border-bottom: 6px solid #323746; 
    
  }

  .wrapper {
    width: 1020px;
    align-items: center;
    padding: 0 40px;
    margin: 0 auto;   
}



.logo {
    padding-top: 40px;
    padding-bottom: 43px;
    color: #ffffff;
    font-weight: 600;
    font-size: 2.3rem;
    letter-spacing: -0.01rem;
    line-height: 2rem;
    text-transform: uppercase;
}
    

.star {
    color: #ef6962;
}

.header__menu {
    display: flex;
   
}
.nav-bar ul {
    display: flex;
    margin-left: 450px;
    
  }
  
.nav-bar ul li {
    margin-top: 40px;   
    letter-spacing: -0.06rem;
    font-size: 2.3rem;
    line-height: 1rem;
    text-transform: uppercase;
}

.nav-bar ul li a {
    font-size: 1.2rem;
    line-height: 0.6rem;
    color: #d5d6d8;
    font-weight: 600;
    text-decoration: none;
    
}

.nav-bar li:not(:first-child)::before {
    content: "\0387";
    display: inline-block;
    width: 2rem;
    color: #494e62;
      
  }
  
  
.nav-bar ul li:not(:first-child) {
    margin-left: 13px;
}

.link-active {
    color: #f06c64;
}

.nav-bar ul li a:hover {
    color: #ef6962;    
}

.nav-bar ul li a:focus {
    color: #6d3c39;
}

.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider-content {
    position: relative;
    width: 1020px;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    filter: brightness(0) opacity(1) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.slide {
    opacity: 0;
    z-index: 1;
    padding-top: 10px;
}

.slide-2 {
    height: 594px;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slider__phone {
    position: absolute;
    z-index: 1;
}

.slider__img:hover {
    cursor: pointer;
}

.phone-one {
    top: 53px;
    left: 112px;
}

.phone-two {
    transform: rotate(90deg);
    top: 52px;
    right: 258px;
}

.slider__shadow {
    opacity: 0.15;
    position: absolute;
}

.shadow-one {
    top: 53px;
    right: 668px;
}

.shadow-two {
    transform: scale(1, -1) rotate(90deg);
    top: 53px;
    right: 233px;
}

.slider__img {
    position: absolute;
    z-index: 2;
}

.img-one {
    top: 115px;
    left: 123px;
}

.img-two {
    top: 185px;
    right: 199px;
}

.slider__arrow {
    position: absolute;
    z-index: 5;
    width: 16px;
}

.slider__arrow:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.arrow-left {
    z-index: 200;
    left: 42px;
    top: 281px;
}

.arrow-right {
    z-index: 200;
    right: 41px;
    top: 281px;
}


.our-services {
    font-family: "Lato", Verdana, sans-serif;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 74px;
    border-bottom: 6px solid #ffffff;
}

.services {   
  background-color: #f2f2f2;
  }

.services__text {
  margin-top: 27px;
  letter-spacing: 0.003rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #767e9e;
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
  width: 940px;
  text-align: justify;
   letter-spacing: -0.01rem; 
}

 .layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
  }

  .layout-3-column__item {
    width: 310px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
  }

   .layout-3-column__content {
     margin-left: 18px;
     
  }

  
  .layout-3-column__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.02rem;

  }

  .layout-3-column__text {
    width: 222px;
    height: 128px;
    font-size: 1.2rem;
    line-height: 2.25rem;
    color: #767e9e;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    padding-top: 8px;
    letter-spacing: 0.001rem;
  }

  .layout-3-column__image {
    width: 60px;
    height: 60px;
  }

  img.iphone, 
  img.bubble,
  img.star {
    margin-block-start: 22px;
    }

  img.lamp {
   margin-left: 5px;
  }

  img.heart {
   margin-left: 10px;
  }

  img.bubble {
    margin-left: 6px;
  }

  img.star {
    margin-left: 9px;
  }

  .portfolio {
    width: 100%;
    background-color: #2d303a;     
    border-bottom: 6px solid  #323746;
    overflow: hidden;
    padding-bottom: 45px; 
     } 

.portfolio__text {
   width: 940px;
   font-size: 1.8rem;
   line-height: 40px;
   color: #767e9e;
   font-family: "Lato", Verdana, sans-serif;
   font-weight: 300;
   font-style: normal;
   text-align: left;
   margin-top: 20px;
   text-overflow: clip;
} 

.portfolio__title {
   padding-top: 70px;
   text-align: left;
   text-overflow: clip;
} 

.portfolio-content {
   width: 940px;
   }

.portfolio__tags {
  display: flex;
  
}

.portfolio__tag {
    color: #666d89;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #666d89;
    padding: 1px 6.5px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 900;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px; 
}



.tag_selected {
   color: #dedede;
   border-color: #dedede;
}

.portfolio__tag:hover, .portfolio__tag:active {
   color: #fff;
   border-color: #dedede;
   transition: 0.3s ease-out;
}

.layout-4-column {
   
   display: flex;
   flex-wrap: wrap;
}

.portfolio-image {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
}
.portfolio__image img {
    max-width: 220px;
    max-height: 187px;
    margin-bottom: 20px;
    cursor: pointer;
}

.flex-image:nth-child(n+13) {
   display: none;
}
.img-selected {
    outline: 5px solid#F06C64;
}

.about-us {
   width: 100%;
   background-color: #f2f2f2;    
   border-bottom: 6px solid  #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
}

.about-us__title {
   font-size: 3rem;
   line-height: 2rem;
   color: #666d89;
   font-family: "Lato", Verdana, sans-serif;
   font-weight: 900;
   text-align: left;
   padding-top: 65px;
   text-overflow: clip;
}

.about-us__text {
   margin-top: 27px;
   width: 940px;
   line-height: 3.2rem;
   font-size: 1.8rem;
   color: #767e9e;
   font-family: "Lato", Verdana, sans-serif;
   font-weight: 300;
   text-align: justify;
   letter-spacing: 0.017px;
   text-overflow: clip;
   letter-spacing: -0.01rem; 
}

.layout-3-column-about {
  display: flex;
  justify-content: space-between;
}

.designer {
    
   overflow: hidden;    
}

.designer__content {
   width: 300px;
   margin-top: 41px;
   margin-bottom: 63px;
   overflow: hidden;
   
}

.designer__image {
   margin-right: 18px;
   width: 300px;
   height: 300px;
}

.designer__image3 {
   margin-right: 40px;
   width: 300px;
   height: 300px;
}

.designer__name {
   margin-top: 15px;
   text-overflow: clip;
}

.designer__description {
   margin-top: 10px;
   width: 300px;
   font-size: 1.2rem;
   line-height: 2.2rem;
   color: #767e9e;
   font-family: "Lato", Verdana, sans-serif;
   font-weight: 400;
   text-align: justify;
   overflow: hidden;
}

.icon_social {
  display: inline-flex;
  padding-top: 22px;
  margin-right: 2px;
}

a.social-fb {
  display: inline-flex;
  padding-top: 22px;
  width: 35px;
}

a.social-gl {
  display: inline-flex;
  padding-top: 22px;
  padding-inline-start: 1px;
}

a.social-tw {
  display: inline-flex;
  padding-top: 22px;
  padding-inline-start: 4px;
  }

a.social-li {
  display: inline-flex;
  padding-top: 22px;
  
}

.icon {
   
   cursor: pointer;
}


.icon-fb:hover {
  background-color: #2d303a;     
  border-radius: 50%;
   width: 30px;
   height: 30px;
   transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}   

 .icon-gl:hover {
   background-color: #2d303a;     
   border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
 } 

 .icon-tw:hover {
   background-color: #2d303a;     
   border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
 }  
 
 .icon-li:hover {
   background-color: #2d303a;     
   border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
 }   

.get-a-quote {
    background-color: #f06c64;
    padding-top: 68px;
    border-bottom: 6px solid #ea676b;
}

.get-a-quote h2 {
    font-size: 3rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 900;
    text-align: left;
}

.get-a-quote__text {
    margin-top: 28px;
    width: 940px;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0rem;
    letter-spacing: -0.01rem;
}

.layout-2-column {
    display: flex;
}

.get-a-quote__form {
    height: 418px;
    width: 619px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.get-a-quote__form > input {
    border: none;
    border-radius: 5px;
    height: 38px;
    background: #d6564f;
    color: #f0d8d9;
    text-indent: 15px;
    letter-spacing: 0.2px;
    padding-bottom: 2px;
    outline: none;
}

.get-a-quote__form > input::placeholder {
    color: #f48c8f;
    font-size: 11px;
    letter-spacing: 0.3px;
}
/*If invalid background is unnecessary prop, it can be removed to match the layout. :)*/
.get-a-quote__form > input:invalid {
    background: #d33e36;
}

input[type="submit"] {
    cursor: pointer;
    color: #f0d8d9;
    font-size: 11px;
    letter-spacing: 0.3px;
    transition: all .1s;
}

input[type="submit"]:active {
    opacity: 0.6;
}

.form__text {
    resize: none;
    height: 202px;
    border: none;
    border-radius: 5px;
    background: #d6564f;
    outline: none;
    color: #f0d8d9;
    font-size: 14px;
    font-family: "Lato","Avenir","Raleway","sans-serif";
    font-weight: 500;
    padding: 11px 15px;
    letter-spacing: 0.4px;
}

.form__text::placeholder {
    color: #f48c8f;
    font-size: 11px;
}

#message-block {
    z-index: 4;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #0008;
}

.hidden {
    display: none;
}

#message {
    position: absolute;
    padding: 15px;
    font-size: 14px;
    line-height: 2;
    border-radius: 5px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background-color: #f2f2f2;
    color: #666d89;
    text-align: left;
    width: 300px;
    height: 200px;
    overflow: hidden;
}

#message__text {
    font-size: 14px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    outline: none;
    border: none;
    color: #f0d8d9;
    left: 5%;
    bottom: 5%;
    height: 25px;
    width: 90%;
    background-color:#d6564f;
    border-radius: 5px;
}

.close-btn:active {
    opacity: 0.5;
    border: 1px solid f2f2f2;
}
  textarea {
    background-color: #d6564f;
    border-color: #d6564f;
    resize: none;
    border-radius: 5px;
    padding: 10px 13px;
    font-family: "Lato", Verdana, sans-serif;
    font-size: 1.2rem;
    width: 620px;
  }
 
button.button-submit {
    margin-top: 17px;
    background-color: #d6564f;
    border-color: #d6564f;
    border-radius: 5px;
    padding: 10px 13px;
    cursor: pointer;
    width: 100px;
    color: #f48c8f;
    text-align: center;

}

button.button-submit:hover {
    outline: black solid 1px;
    transition: cubic-bezier(0.77, 0, 0.175, 1) ;
    outline-style: auto;
}

.contact-information h4 {
    padding-top: 43px;
    margin-left: 20px;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato", Verdana,  sans-serif;
    font-weight: 900;
    text-align: left;

}

.contact-information__text {
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    font-size: 1.2rem;
    line-height: 2.15rem;
    color: #f0d8d9;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: -0.02rem;
    text-align: justify;
}
 
.contact-information__info {
    margin-left: 20px;
    width: 300px;
    font-size: 1.2rem;
    line-height: 2.15rem;
    color: #f0d8d9;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 23px;
}

a.contact-information__link {
    margin-left: 10px;
    text-decoration: none;
    color:  #f0d8d9;
}

.icon-small {
    width: 13px;
    height: 15px;
    padding-block-start: 5px;
}

.footer {
    background-color: #2d303a;
    
}

.footer-content {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-content span {
    font-size: 1.2rem;
    line-height: 2.3rem;
    color: #666d89;
    font-family: "Lato", Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: -0.015rem;
    text-align: left;
}

.social-network  {
    display: flex;
    margin-left: 694px;
    margin-top: -1px;
}

.social-network__gl {
    margin-left: 5px;
}

.social-network__li {
  margin-left: 5px;
  }

.social-network__tw {
  margin-left: 5px;
  
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 300;
}

.display-none {
    display: none;
}

.modal-submit {
    user-select: none;
    width: 250px;
    padding: 0 30px;
    min-height: 150px;
    height: max-content;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal-submit>div {
    font-family: 'Lato-Light';
    margin-top: 10px;
}

.modal-button {
    margin-top: 20px;
}

.modal-button>button {
    border: none;
    width: 40px;
    height: 30px;
    color: white;
    border-radius: 3px;
    background-color: rgb(48, 28, 78);
}

.modal-button>button:hover {
    outline: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(150, 0, 130);
}
 
